<!-- Including mainnav, header, and content partials -->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container">
    <!-- Message Area -->
    <% if (messages.length >0) {%>
    <div class="alert alert-danger">
        <%= messages %>
    </div>
    <% } %>

    <div class="row" style="background-image: url('/Assets/images/sky.jpg');margin-top: 3em;">
        <div class="offset-md-4 col-md-4">
            <h1><strong>Login:</strong></h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <i class="fas fa-user"></i><label for="username"><b>Username: </b></label>
                    <input type="text" class="form-control" name="username" placeholder="Enter username" id="username"
                        required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <i class="fas fa-unlock"></i><label for="password"><b>Password:</b> </label>
                    <input type="text" class="form-control" name="password" placeholder="Enter password" id="password"
                        required>
                </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-dark" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>

</main>


<!-- Including bottomnav and footer partials -->
<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
